@model IEnumerable<MvcE_Learning.Models.Content>

@{
    ViewData["Title"] = "Index";
}

<h1>Content</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
